*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

.main-heading{
    color:rgb(78, 28, 28);
    font-size: 50px;
    font-style: italic;
    font-weight: 600;
    background-color: rgb(203, 177, 177);
    text-align: center;
    /* padding: 100px;
    margin: 100px; */

    padding-top: 100px;
    padding-bottom: 100px;

    padding-left: 100px;
    padding-right: 100px;

    margin-top: 100px;
    margin-bottom: 100px;

    margin-left: 100px;
    margin-right: 100px;
}

p{
    font-weight: bold;
}

.second-heading{
    background: rgb(19, 16, 16);
    color: white;
    padding: 10px;
    text-align: center;
}

.text-heading{
    padding: 100px;
    font-size: 25px;
    text-transform: capitalize;
}