*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    padding: 20px;
    font-size: 40px;
}

h1:hover{
    font-size:200px;
}

@keyframes buttonanimation{
    from{
        background-color: green;
        padding: 20px;
    }

    to{
        background-color: purple;
        padding: 30px;
    }
}

.button{
    background-color: #a41dcd;
    text-decoration: none;
    color: #ffff;
    font-size: 25px;
    padding: 20px;
    margin-left: 200px;
    animation-name: buttonanimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.button:hover{
    background-color: #ca80e1;
    border: 1px solid #000000;
    border-radius: 10px;
}